.delivery__title {
  align-self: center;
  font-size: 50px;
}


@media screen and (max-width: 1023px) {
  .delivery__title {
    font-size: 35px;
  }

}


@media screen and (max-width: 639px) {
  .delivery__title {
    font-size: 16px;
  }

}