.constructor__container-choice_title {
  border-bottom: 1px solid #E1E8EE;
  text-align: center;
  margin: 0;
  padding: 10px;
}


@media screen and (max-width: 1023px) {
  .constructor__container-choice_title {
    font-size: 20px;
    padding: 20px;
  }

}

