.bed__title {
  align-self: center;
  font-size: 45px;
  margin: 50px 0 0 0;
}



@media screen and (max-width: 1023px) {
  .bed__title {
    font-size: 30px;
    margin: 25px 0 0 0;
  }

}


@media screen and (max-width: 900px) {
  .bed__title {
    font-size: 15px;
    margin: 10px 0 0 0;
  }

}