.constructor__container {
  width: 1400px;
  margin: 0 auto;
  box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 10%);
  border-radius: 6px;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .constructor__container {
    width: 900px;
    flex-direction: column;
  }

}

@media screen and (max-width: 900px) {
  .constructor__container {
    width: 640px;
    flex-direction: column;
  }
}



@media screen and (max-width: 639px) {
  .constructor__container {
    width: 320px;
    flex-direction: column;
  }
}