.constructor__container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E1E8EE;
}


@media screen and (max-width: 1023px) {
  .constructor__container-buttons {
    height: 35px;
  }

}