{% load static %}
{% load tag_library %}
<footer class="footer" id="contact">
    <img class="footer__image" src="{% static 'shop/images/feather-white.PNG' %}">
    <div class="footer__columns">
      <div class="footer__column footer__column_content_copyright">
        <div>
          <p class="menu__logo">BASK HOME</p>
          <a class="footer__info link" href="{% url 'shop:about' %}">О компании &xrarr;</a>
        </div>
        <div>
          <a class="footer__info link" href="{% url 'shop:policy' %}">Политика обработки персональных данных</a>
          <p class="footer__author">&copy; Bask Home 2020-{% now "Y" %} <a class="footer__author link" href="https://www.instagram.com/selesta_project/">by selesta</a></p>
        </div>
      </div>
        <div class="footer__column_content_social">
          <nav class="footer__column footer__column-binding">
            <h3 class="footer__column-heading" id="form">Оставить заявку</h3>
            <div class="footer__column-social">
              <form class="footer__column-forms" action="{% url 'shop:add_client' %}" method="post">
                    {% csrf_token %}
                {{ form.name|addcss:'footer__input footer__name' }}
                {{ form.number|addcss:'footer__input footer__number' }}
              <button id="checkFooter" class="footer-submit-button animation" type="submit">Отправить</button>
                </form>
            </div>
          </nav>
          <nav class="footer__column footer__column-binding">
            <h3 class="footer__column-heading">Связаться с нами</h3>
            <div class="footer__column-social">
              <ul class="footer__column-links">
                <li>
                  <div class="footer__container">
                    <img src="{% static 'shop/images/phone.svg' %}" alt="Значок звонка" class="footer__social-icon">
                    <a class="footer__column-link link" href="tel:+79312663425">+7 (931) 266-34-25
                    </a>
                  </div>
                </li>
                <li>
                  <div class="footer__container">
                  <img src="{% static 'shop/images/mail.svg' %}" alt="Значок почты" class="footer__social-icon">
                    <a class="footer__column-link link" href="mailto:baskhome@mail.ru?subject=Вопрос по постельному белью">baskhome@mail.ru
                    </a>
                  </div>
                </li>
              </ul>
              <h3 class="footer__column-heading" id="contact-social">Мы в социальных сетях</h3>
              <ul class="footer__column-links">
              <li><button>
                <a class="footer__column-link link" href="https://telegram.me/@aleksandrov7as">
                  <img src="{% static 'shop/images/telegram.svg' %}" alt="Значок Telegram" class="footer__social-icon"></a>
              </button>
              </li>
              <li><button><a class="footer__column-link link" href="https://www.instagram.com/baskhome_ru/">
                <img src="{% static 'shop/images/instagram.svg' %}" alt="Значок Instagram" class="footer__social-icon"></a></button>
              </li>
              </ul>
            </div>
          </nav>
        </div>
    </div>
  </footer>