{% load static %}
<header class="header">
  <nav class="menu" id="navbar">
    <ul class="menu__content_left">
      <li><a class="menu__content menu__about" href="{% url 'shop:homepage' %}">Главная</a></li>
      <li><div class="menu__content menu__catalog">О нас</div></li>
      <li><a class="menu__content menu__delivery">Доставка</a></li>
    </ul>
    <ul class="menu__content_centre">
      <li><a class="menu__content menu__logo" href="#">BASK HOME</a></li>
    </ul>
    <ul class="menu__content_right">
      <li><a class="menu__content menu__reviews" href="{% url 'shop:product_list' %}">Ассортимент</a></li>
      <li><a class="menu__content menu__contacts" href="#contact">Контакты</a></li>
      <li>
        <div class="menu__content menu__content-shop">
        <p class="menu__trash-number">3</p>
        <a class="menu__trash" href="../trash.html">
          <img class="menu__trash-image" src="{% static 'shop/images/trash_header-white.svg' %}" onmouseover="hover(this);" onmouseout="unhover(this)">
        </a>
        </div>
      </li>
    </ul>
  </nav>
</header>