.bed__section {
  height: 100%;
  width: 25%;
  float: left;
  display: flex;
  background-color: #1f1f1f;
  color: #b2b0c6;
}


.color {
  color: #e0bcb0;
}

.color:nth-child(2) {
  color: antiquewhite;
}

.color:nth-child(4) {
  background-color: white;
  color: black;
}
