.about__content {
  display: flex;
  align-items: flex-start;
  margin: 0 150px;
}


@media screen and (max-width: 1023px) {
  .about__content {
    margin: 0 30px;
  }

}


@media screen and (max-width: 900px) {
  .about__content {
    margin: 0 20px;
    flex-direction: column;
  }

}