@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__content/menu__content.css);
@import url(../blocks/menu/__content/_left/menu__content_left.css);
@import url(../blocks/menu/__content/_right/menu__content_right.css);
@import url(../blocks/menu/__content/_centre/menu__content_centre.css);
@import url(../blocks/menu/__logo/menu__logo.css);
@import url(../blocks/menu/__content/_info/menu__content_info.css);
@import url(../blocks/menu/__info/menu__info.css);
@import url(../blocks/dream/__title/dream__title.css);
@import url(../blocks/bed/bed.css);
@import url(../blocks/bed/__container-text/bed__container-text.css);
@import url(../blocks/bed/__title/bed__title.css);
@import url(../blocks/bed/__subtitle/bed__subtitle.css);
@import url(../blocks/bed/__image/bed__image.css);
@import url(../blocks/bed/__linen/bed__linen.css);
@import url(../blocks/bed/__section/bed__section.css);
@import url(../blocks/link/link.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social/footer__social-icon.css);
@import url(../blocks/footer/__column-social/footer__column-social.css);
@import url(../blocks/footer/__column/_content/footer__column_content_social.css);