{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'shop/pages/index.css' %}">
  <title>BASK HOME</title>
  <link rel="icon" href="{% static 'shop/images/favicon.ico' %}" type="image/x-icon">
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1060554807836775');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=1060554807836775&ev=PageView&noscript=1"
  /></noscript>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(87516392, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/87516392" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</head>
<body class="page page_black">
{% include 'shop/include/header.html' %}
<section class="about">
  <p class="about__information">Мы — небольшой бренд постельного белья из натуральных материалов BaskHome. Мы знаем, как сложно бывает найти то, что нужно идеальное сочетание всех параметров. Поэтому на протяжении нескольких месяцев, мы изучали конструкции, ткани и оттенки. И теперь с уверенностью можем сказать, что выбрали для вас самое лучшее! </p>
  <div class="about__container">
    <div class="about__content">
      <div class="about__container-content">
      <p class="about__text">Все наши комплекты изготовлены из сатина оптимальной плотности, чтобы белье было комфортным и сохраняло свои качества долгое время.
      В нашей базовой коллекции представлено 5 цветов, но мы сможем сделать комплект из любого другого оттенка на заказ. Мы поддерживаем творчество и креатив!
        Все комплекты шьются индивидуально. Срок изготовления до 4 рабочих дней.</p>
        <a id="catalogButtonAbout" class="bed__button" href="/list/coffe">Ассортимент</a>
      </div>
      <img class="about__image" src="{% static 'shop/images/_DSC0790.jpg' %}">
    </div>
  </div>
</section>
<section class="wish wish_border scene">
  <h2 class="wish__title">С заботой о вас</h2>
  <div class="wish__animation">
    <span>BASK HOME</span>
  </div>
</section>
{% include 'shop/include/footer.html' %}
<script src="{% static 'shop/scripts/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'shop/scripts/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'shop/about.js' %}"></script>
<script src="{% static 'shop/index.js' %}"></script>
</body>
</html>