{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'shop/pages/index.css' %}">
  <title>BASK HOME</title>
</head>
<body class="page page_black">
{% include 'shop/include/header.html' %}
<section class="about">
  <p class="about__information">Мы — небольшой бренд постельного белья из натуральных материалов BaskHome. Мы знаем, как сложно бывает найти то, что нужно идеальное сочетание всех параметров. Поэтому на протяжении нескольких месяцев, мы изучали конструкции, ткани и оттенки. И теперь с уверенностью можем сказать, что выбрали для вас самое лучшее! </p>
  <div class="about__container">
    <div class="about__content">
      <img class="about__image" src="{% static 'shop/images/about/DSCF2720.JPG' %}">
      <p class="about__text">Все наши комплекты изготовлены из сатина оптимальной плотности, чтобы белье было комфортным и сохраняло свои качества долгое время. </p>
      <p class="about__text">В нашей базовой коллекции представлено 5 цветов, но мы сможем сделать комплект из любого другого оттенка на заказ. <br> Мы поддерживаем творчество и креатив! <br>
        Все комплекты шьются индивидуально. Срок изготовления до 4 рабочих дней.</p>
      <img class="about__image" src="{% static 'shop/images/about/DSCF2723.JPG' %}">
    </div>
  </div>
</section>
<section class="wish wish_border scene">
  <h2 class="wish__title">С заботой о вас</h2>
  <div class="wish__animation">
    <span>BASK HOME</span>
  </div>
</section>
{% include 'shop/include/footer.html' %}
<script src="{% static 'shop/index.js' %}"></script>
</body>
</html>