{% extends 'shop/base.html' %}
{% load static %}
{% load tag_library %}
{% block content %}
<section class="constructor">
  <div class="constructor__container">
    <div class="constructor__container-choice">
      <p class="constructor__container-choice_title">Для выбора цвета используйте кнопки</p>
      <div class="constructor__container-buttons">
        {% for c in colors %}
        <a class="constructor__container-choice_button button_{{c.id}}" style="background-color: {{ c.color }}"href="{{ c.get_absolute_url }}">
        </a>
        {% endfor %}
      </div>
      <img class="constructor__container-choice_image"
           src="{% if color %}{{ color.image.url }}{% else %}{% static 'shop/images/catalog/uncolor.jpg' %}{% endif %}">
    </div>
    {% if color.slug %}
    <div class="constructor__container-content">
      {% for category in categories %}
      <div class="constructor__product">
        <p class="constructor__product_title">{{ category.name }} {{ color }}</p>
        <div class="constructor__product_container">
          {% if category %}
          <div class="select">
          <input class="select__input" type="hidden" name="">
          <div class="select__head">Выберите размер</div>
                <ul class="select__list form-control mb-4 category_{{ category.id }}" style="display: none">
                        {% for product in products %}
          {% if category == product.category %}<li class="select__item item_{{ product.size.id }}" value="{{ product.price }}₽">{{ product.size }}</li>
          {% endif %}
          {% endfor %}
                </ul>
          </div>
          <div class="constructor__prise-container">
            <p class="constructor__prise prise_{{ category.id }}">0</p><p>&#8381;</p>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <p class="constructor__container-description">
        {{ color.description }}
      </p>
    </div>
    {% endif %}
  </div>
  <div class="constructor__container-prise">
    <div class="constructor__container-total popup__button">
      <button class="constructor__sizes">Таблица размеров</button>
    </div>
    <div class="constructor__container-total">
      <p>Итого:</p>
      <p class="constructor__prise-total">0</p>
      <p>&#8381;</p>
    </div>
  </div>
  <div class="constructor__container-prise">
    <div class="constructor__container-total popup__button-form">
      <button id="check1" class="constructor__sizes">Оставить заявку</button>
    </div>
  </div>
  <article class="popup popup-image">
    <div class="popup__image-container">
      <img class="popup__image" src="/static/shop/images/catalog/CatalogSizes.jpg" alt="Описание картинки">
      <a class="popup__close-button close-image"></a>
    </div>
  </article>
  <article class="popup popup-form">
    <div class="popup__form-container">
      <form class="footer__column-forms" action="{% url 'shop:add_client' %}" method="post">
          {% csrf_token %}
          {{ form.name|addcss:'footer__input form__name' }}
          {{ form.number|addcss:'footer__input form__number' }}
          {{ form.city|addcss:'footer__input form__city' }}
          {{ form.text|addcss:'footer__input textarea' }}
          <button id="check2" class="footer-submit-button animation" type="submit">Отправить</button>
      </form>
      <button class="popup__close-button close-form"></button>
    </div>
  </article>
</section>
{% endblock %}
