{% extends 'shop/base.html' %}
{% load static %}
{% load tag_library %}
{% block content %}
<section class="constructor">
  <div class="constructor__container">
    <div class="constructor__container-choice">
      <p class="constructor__container-choice_title">Выбор цвета</p>
      <div class="constructor__container-buttons">
        {% for c in colors %}
        <a class="constructor__container-choice_button button_{{c.id}}" style="background-color: {{ c.color }}"href="{{ c.get_absolute_url }}">
        </a>
        {% endfor %}
      </div>
      <img class="constructor__container-choice_image"
           src="{% if color %}{{ color.image.url }}{% else %}{% static 'shop/images/catalog/uncolor.jpg' %}{% endif %}">
    </div>
    {% if color.slug %}
    <div class="constructor__container-content">
      {% for category in categories %}
      <div class="constructor__product">
        <p class="constructor__product_title">{{ category.name }} {{ color }}</p>
        <div class="constructor__product_container">
          {% if category %}
          <div class="select">
          <input class="select__input" type="hidden" name="">
          <div class="select__head">Выберите размер</div>
                <ul class="select__list form-control mb-4 category_{{ category.id }}" style="display: none">
                        {% for product in products %}
          {% if category == product.category %}<li class="select__item item_{{ product.size.id }}" value="{{ product.price }}₽">{{ product.size }}</li>
          {% endif %}
          {% endfor %}
                </ul>
          </div>
          <div class="constructor__prise-container">
            <p class="constructor__prise prise_{{ category.id }}">0</p><p>&#8381;</p>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <p class="constructor__container-description">
        {{ color.description }}
      </p>
    </div>
    {% endif %}
  </div>
  <div class="constructor__container-prise">
    <div class="constructor__container-total popup__button">
      <a class="constructor__sizes">Таблица размеров</a>
    </div>
    <div class="constructor__container-total">
      <p>Итого:</p>
      <p class="constructor__prise-total">0</p>
      <p>&#8381;</p>
    </div>
  </div>
  <article class="popup">
    <div class="popup__image-container">
      <img class="popup__image" src="/static/shop/images/catalog/ТаблицаРазмеров.jpg" alt="Описание картинки">
      <a class="popup__close-button"></a>
    </div>
  </article>
</section>
{% endblock %}
