{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<section class="delivery">
  <div class="delivery__container">
    <h3 class="delivery__title">Как происходит заказ и оформление?</h3>
    <p class="delivery__text">Вы делаете заказ, отправляете его менеджеру. Он связывается с вами и уточняет данные заказа.
      После того, как внесете предоплату, мы отправляем заказ через CDEK.</p>
    <h3 class="delivery__title">Почему мы выбрали доставку через службу CDEK?</h3>
    <p class="delivery__text">Компания CDEK на протяжении многих лет показывает профессиональный рост в
      области логистики: скорость, качество, гибкость в работе со своими партнерами.
      Для нашего интернет-магазина в области доставки для клиентов мы выбираем CDEK,
      так как уверены, что заказы будут доставлены быстро, деньги зачислены в срок, а любые
      шероховатости в работе — урегулированы. Большое количество пунктов выдачи позволяет охватить
      даже самые удаленные города России, что дает возможность отправлять сотни заказов по всей стране.
      Именно поэтому мы выбираем CDEK.</p>
    <h3 class="delivery__title">Возврат и обмен</h3>
    <p class="delivery__text">Чтобы вы могли убедиться в качестве постельного белья, даем гарантию 60 дней на бесплатный обмен и возврат комплектов.</p>
  </div>
</section>
<section class="wish">
  <h2 class="wish__title">С заботой о вас</h2>
  <div class="wish__animation">
    <span>BASK HOME</span>
  </div>
</section>
{% endblock %}