{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
  <section class="logo">
    <img class="logo__image" src="{% static 'shop/images/baskhome.jpg' %}" alt="BASKHOME">
    <div style="position: absolute;
    text-align: center;
    width: 100%;
    bottom: 40px;">
      <button><a id="catalogButton1" class="bed__button bed__button-logo" href="/list/coffe">Ассортимент</a></button>
    </div>
  </section>
  <section class="dream">
    <h1 class="dream__title">Здоровый сон удлиняет жизнь и
      сокращает рабочее время</h1>
  </section>
      <section class="bed__section scene" id="1-st">
        <img class="bed__image" src="{% static 'shop/images/_DSC0624.jpg' %}">
        <div class="bed__container-text">
          <h2 class="bed__title">Эстетика</h2>
          <p class="bed__subtitle">Гармоничный интерьер спальни создают подобранные со вкусом детали и, конечно же,
            кровать, от которой зависит не только внешний вид комнаты, но и качество вашего сна. То, насколько
            безмятежным он будет, в конечном счёте определяют характеристики постельного белья, поэтому лучше
            использовать надёжный и гипоаллергенный сатин, а вот декорировать кровать можно на любой вкус!</p>
          <button><a id="catalogButton2" class="bed__button" href="/list/coffe">Ассортимент</a></button>
          <img class="bed__image_feather" src="{% static 'shop/images/feather-white.PNG' %}">
        </div>
      </section>
      <section class="bed__section scene color" id="2-nd">
        <img class="bed__image" src="{% static 'shop/images/_DSC0776.jpg' %}">
        <div class="bed__container-text">
          <h2 class="bed__title">Сатиновое белье</h2>
          <p class="bed__subtitle">Привлекательная материя, имеющая мерцающий блеск, плотная, нежная, шелковистая,
            яркая и легкая – это сатин. В основе ткани – хлопок, передающий ей все свои положительные качества:
            гигроскопичность; С изнанки ткань шероховатая, что исключает сползание постельного белья во сне.</p>
          <button><a id="catalogButton3" class="bed__button" href="/list/coffe">Ассортимент</a></button>
          <img class="bed__image_feather bed__image_feather-second" src="{% static 'shop/images/feather.PNG' %}">
          <img class="bed__image_feather bed__image_feather-second" src="{% static 'shop/images/feather.PNG' %}">
        </div>
      </section>
      </section>
      <section class="bed__section scene"id="3-th">
        <img class="bed__image" src="{% static 'shop/images/_DSC0791.jpg' %}">
        <div class="bed__container-text width">
          <h2 class="bed__title">Стиль</h2>
          <p class="bed__subtitle">Bask Home заботится не только об эстетической стороне отдыха, но не отрицает,
            что стиль дарит эмоции. Совершенствуйтесь вместе с нами!</p>
          <button><a id="catalogButton4" class="bed__button" href="/list/coffe">Ассортимент</a></button>
          <img class="bed__image_feather bed__image_feather-third" src="{% static 'shop/images/feather-white.PNG' %}">
          <img class="bed__image_feather bed__image_feather-third" src="{% static 'shop/images/feather-white.PNG' %}">
        </div>
      </section>
      <section class="bed__section color scene" id="4-th">
        <img class="bed__image" src="{% static 'shop/images/_DSC0650.jpg' %}">
        <div class="bed__container-text width">
          <h2 class="bed__title">Внимание</h2>
          <p class="bed__subtitle">Вы хотите сделать эстетичный и качественный подарок своим близким?
            Если да, то постельное белье от Bask Home - это отличный подарок</p>
          <button><a id="catalogButton5" class="bed__button" href="/list/coffe">Ассортимент</a></button>
        </div>
        <img class="bed__image_feather-black" src="{% static 'shop/images/feather.PNG' %}">
        <img class="bed__image_feather-black" src="{% static 'shop/images/feather.PNG' %}">
      </section>
      <section class="wish scene">
        <h2 class="wish__title">С заботой о вас</h2>
        <div class="wish__animation">
          <span>BASK HOME</span>
        </div>
      </section>
{% endblock %}