.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .footer__column_content_copyright {
    flex-direction: column;
    order: 2;
  }
}