{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'shop/pages/index.css' %}">
  <title>BASK HOME</title>
</head> <body>
<div id="header">
    {% include 'shop/src/include/header.html' %}
</div>
<div id="content">
{% block content %}{% endblock %}
    {% include 'shop/src/include/footer.html' %}
</div>
</body>
</html>
